.container
  %h1 Clinics

  .row
    .col-md-2
      %h4 Menu
      %ul.nav.nav-pills.nav-stacked
        - if current_admin
          %li.active{ :role => "presentation" }= link_to 'New Clinic', new_clinic_path
        %li{ :role => "presentation" }= link_to 'Back', root_path


    .col-md-10
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th
            - if current_patient
              %th
            - if current_admin
              %th
              %th
      
        %tbody
          - @clinics.each do |clinic|
            %tr
              %td= clinic.name
              %td= link_to 'Show', clinic, :class => "btn btn-default"
              - if current_patient
                %td= link_to 'Book first free appointment', appointment_first_free_clinic_path(clinic), :method=>'post', :class => "btn btn-default"
              - if current_admin
                %td= link_to 'Edit', edit_clinic_path(clinic), :class => "btn btn-default"
                %td= link_to 'Destroy', clinic, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-default"
