%p#notice= notice

.container
  .row
    .col-md-2
      %h4 Actions
      %ul.nav.nav-pills.nav-stacked
        - if current_admin
          %li.active{ :role => "presentation" }= link_to 'Edit', edit_clinic_path(@clinic)
        %li{ :role => "presentation" }= link_to 'Back', clinics_path
        
    .col-md-10
      .jumbotron
        %h2
          = @clinic.name
        %p
          Assigned doctors:
        
        - if @doctors.size > 0  
          %table.table.table-striped
            %thead
              %tr
                %th First name
                %th Last name
                %th PWZ No.
                
            %tbody
              - @doctors.each do |doctor|
                %tr
                  %td= doctor.first_name
                  %td= doctor.last_name
                  %td= doctor.pwz
        - else
          No doctors assigned yet

        %h3
          Free appointments
        .form-group
          = hidden_field :clinic, :id, { value: @clinic.id }
          = text_field :clin, :day, { :placeholder => "Select date (yyyy-mm-dd)", :class => "form-control calendar", readonly: true}
          
        #appointments_table