= form_tag session_path(:doctor) do
  = text_field_tag 'doctor[email]', nil, :class => "form-control", :placeholder => "Email"
  = password_field_tag 'doctor[password]', nil, :class => "form-control", :placeholder => "Password"
  = check_box_tag 'doctor[remember_me]'
  = label_tag 'doctor[remember_me]', 'Remember me'
  %br
  %button.btn.btn-lg.btn-primary Sign in
  %br
  = link_to "Forgot your password?", new_password_path(:doctor)