.container
  %h1
    Schedule of
    = @doctor.first_name
    = @doctor.last_name
  
  .row
    .col-md-2
      %h4 Menu
      %ul.nav.nav-pills.nav-stacked
        - if current_doctor
          %li.active{ :role => "presentation" }= link_to 'New Schedule', new_doctor_schedule_path(current_doctor)
        %li{ :role => "presentation" }= link_to 'Back', root_path
  
    .col-md-10
      %table.table.table-striped
        %thead
          %tr
            %th Weekday
            %th Clinic
            %th Start hour
            %th End hour
            - if current_doctor
              %th
              %th
            - if current_doctor or current_admin
              %th
  
        %tbody
          - @schedules.each_with_index do |schedule, i|
            %tr
              %td= @weekday_list[schedule.weekday-1].name
              %td= @clinic_names[i]
              %td= schedule.start_hour.strftime('%H:%M')
              %td= schedule.end_hour.strftime('%H:%M')
              - if current_doctor
                %td= link_to 'Show', doctor_schedule_path(@doctor, schedule), :class => "btn btn-default"
                %td= link_to 'Edit', edit_doctor_schedule_path(@doctor, schedule),
                  :data => { :confirm => 'Changes in schedule may result in removal of appoitnments. Are you sure?' },
                  :class => "btn btn-default"
              - if current_doctor or current_admin
                %td= link_to 'Destroy', doctor_schedule_path(@doctor, schedule),
                  :method => :delete,
                  :data => { :confirm => 'This operation may result in removal of appoitnments. Are you sure?' },
                  :class => "btn btn-default"
