= form_for @doctor do |f|
  - if @doctor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@doctor.errors.count, "error")} prohibited this doctor from being saved:"
      %ul
        - @doctor.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, :class => "form-control"
  .form-group
    = f.label :password
    %em
      (6 characters minimum)
    = f.password_field :password, autocomplete: "off", :class => "form-control"
  .form-group
    = f.label :first_name
    = f.text_field :first_name, :class => "form-control"
  .form-group
    = f.label :last_name
    = f.text_field :last_name, :class => "form-control"
  .form-group
    = f.label :pwz
    = f.number_field :pwz, :class => "form-control"
  .actions
    = f.submit 'Save', :class => "btn btn-primary"
