.container
  %h1 Doctors
  
  .row
    .col-md-2
      %h4 Menu
      %ul.nav.nav-pills.nav-stacked
        - if current_admin
          %li.active{ :role => "presentation" }= link_to 'New Doctor', new_doctor_path
        %li{ :role => "presentation" }= link_to 'Back', root_path
      
    .col-md-10
      %table.table.table-striped
        %thead
          %tr
            - if current_admin
              %th E-mail
            %th First name
            %th Last name
            %th PWZ No.
            %th
            - if current_patient
              %th
            - if current_admin
              %th
              %th
              %th
      
        %tbody
          - @doctors.each do |doctor|
            %tr
              - if current_admin
                %td= doctor.email
              %td= doctor.first_name
              %td= doctor.last_name
              %td= doctor.pwz
              %td= link_to 'Show', doctor, :class => "btn btn-default"
              - if current_patient
                %td= link_to 'Book first free appointment', appointment_first_free_doctor_path(doctor), :method=>'post', :class => "btn btn-default"
              - if current_admin
                %td= link_to 'Schedule', doctor_schedules_path(doctor), :class => "btn btn-default"
                %td= link_to 'Edit', edit_doctor_path(doctor), :class => "btn btn-default"
                %td= link_to 'Destroy', doctor, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-default"
