= fields_for :assignment do |f|
  .form-group
    = f.label :clinic
    = f.collection_select :clinic_id, @clinics, :id, :name, { :prompt => "Select clinic first" }, :class => "form-control" 
  .form-group
    = f.label :doctor
    = f.collection_select :doctor_id, @doctors, :id, :last_name, { :prompt => "Then select doctor" }, :class => "form-control"

= form_for @appointment do |f|
  - if @appointment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@appointment.errors.count, "error")} prohibited this appointment from being saved:"
      %ul
        - @appointment.errors.full_messages.each do |msg|
          %li= msg
  
  = f.hidden_field :assignment_id
  .form-group
    = f.label :day
    = f.text_field :day, :placeholder => "Next select date (yyyy-mm-dd)", :class => "form-control", readonly: true
  .form-group
    = f.label :hour
    = f.collection_select :hour, @hours, :time, :time, { :prompt => "Finaly select hour" }, :class => "form-control"
  .actions
    = f.submit 'Save', :class => "btn btn-primary"
