.container
  %h1 Appointments
  
  .row
    - if current_patient
      .col-md-2
        %h4 Menu
        %ul.nav.nav-pills.nav-stacked
          %li.active{ :role => "presentation" }= link_to 'New Appointment', new_appointment_path
  
    .col-md-10
      %table.table.table-striped
        %thead
          %tr
            - if !current_patient
              %th Patient
            %th Clinic
            - if !current_doctor  
              %th Doctor
            %th Day
            %th Hour
            - if current_patient
              %th
            %th
            - if !current_doctor
              %th
    
        %tbody
          - @appointments.each_with_index do |appointment, i|
            %tr
              - if !current_patient
                %td
                  = @patients[i].first_name
                  = @patients[i].last_name
              %td= @clinics[i].name
              - if !current_doctor
                %td
                  = @doctors[i].first_name
                  = @doctors[i].last_name
              %td= appointment.day
              %td= appointment.hour.strftime('%H:%M')
              - if current_patient
                - if !appointment.confirmed
                  %td= link_to 'Confirm', appointment_confirm_path(appointment), :class => "btn btn-success clock", :method=>'post', 
                    :id => 'appointment_' + i.to_s
                  = render 'countdown', i: i, date: @confirmation_dates[i]
                - else
                  %td
                    %button.btn.btn-info{ :disabled => true }= 'Confirmed'
              %td= link_to 'Show', appointment, :class => "btn btn-default"
              /%td= link_to 'Edit', edit_appointment_path(appointment), :class => "btn btn-default"
              - if !current_doctor
                %td= link_to 'Destroy', appointment, :method => :delete, 
                  :data => { :confirm => 'Are you sure?' }, :class => "btn btn-default"